# Python cache
__pycache__/
*.py[cod]


# Virtual environments
.venv/
venv/
env/
ENV/

# IDE / editor files
.vscode/
.idea/

# Git
.git/


# Jupyter
.ipynb_checkpoints/


# Logs
*.log

# Test / coverage files
.pytest_cache/
.coverage
htmlcov/

# Documentation
README.md

